@import '../../visuals/scss/colors';

:host {
  background-color: $transparent_light_overlay;
}

nav {
  margin: 0px;
}

nav .nav-link {
  color: $primary_accent_color;
  margin-left: 10px;
  margin-right: 10px;
}

nav .active {
  font-weight: bold;
}

nav ul {
  list-style-type: none;
  overflow: hidden;
  padding: 0px;
  margin-block-end: 0.5em;
  margin-block-start: 0.5em;
}

nav ul li {
  float: left;
  display: block;
}
